p {
  text-align: center;
  font-size: 4.5vh;
  margin: 0;
}

.inner-block {
  height: 50%;
  margin: auto;
}

.container {
  background-color: grey;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  width: 100%;
}
.block {
  overflow: hidden;
  color: rgb(24, 22, 22);
  height: 12vh;
  max-width: 500px;
  display: flex;
  /* justify-content: center; */
}
#blk1 {
  background-color: green;
  width: 15vw;
}
#blk2 {
  background-color: rgba(0, 0, 255, 0.541);
  width: 20vw;
}
#blk3 {
  background-color: cornsilk;
  width: 25vw;
}
#blk4 {
  background-color: rgba(153, 145, 31, 0.774);
  width: 30vw;
}